<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>search</title>
    <base href="serach">
  </head>

  <body>
    <div align=right>
    <font color="white">ようこそ、さん</font>
    <a href="top">(TOPに戻る)</a>
    </div>
    <div>
      <a href="job">案件詳細に飛べるよ</a>

    </div>
      <div>
<h3>都道府県を選んでください</h3>



<form  action="search" method="get">
    <select name="city">
  <% Area.all.each do |city| %>
  <!-- オブジェクト.each do |変数| -->
  <!-- <a href="/search?area= -->
  <option value=<%= city.city %>><%= city.city %><br></option>
  <% end %>

</select>
<button type="search" name="button" >検索</button>
</form>
<!-- <%= @jobs.count %>件です<br>
  <% @jobs.each do |job| %>
  <%= job.title %>』<br>
  <%= job.description %><br><br>
  <% end %>

</div> <-->
</div>
案件は<%= @jobs.count %>件です<br>
<div>
  <h1>商品一覧</h1>
<table border=1 >
<tr>
 <td>都道府県</td>
 <td>タイトル</td>
 <td>詳細</td>
</tr>
  <% @jobs.each do |job| %>
  <tr>
<td style="width:50px"><%= job.name%></td>
<td><%= job.title %></td>
<td><%= job.description %></td>
<% end %>
</tr>
</div>
</table>

  </body>
</html>
